*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}


body{
    background-color: #070722;
    background-image: url("background-stars.svg");
    font-family: 'Spartan', sans-serif;
    /* font-family: 'Antonio', sans-serif; */
    color: #fff;
}

